form {
  background-color: #000000;
  width: 100%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, inset 5px 5px 8px 12px rgba(0, 0, 0, 0);
}

.mat-mdc-form-field.mat-accent {
  --mdc-outlined-text-field-outline-color: var(--custom-amber);
  --mdc-outlined-text-field-focus-outline-color: var(--custom-amber);
  --mdc-outlined-text-field-hover-outline-color: var(--custom-amber);
}

.mat-mdc-form-field.mat-accent.mat-form-field-invalid {
  --mdc-outlined-text-field-outline-color: var(--custom-error);
}

.mat-mdc-form-field {
  color: var(--custom-amber);
}

.mdc-text-field {
  color: var(--custom-amber) !important;
}

mat-label {
  color: var(--custom-amber) !important;
}

.mdc-text-field__input {
  color: var(--custom-amber) !important;
}
::ng-deep div.mat-mdc-select-panel {
  background-color: rgb(0, 0, 0) !important;
  border-left: 1px solid var(--custom-amber);
  border-right: 1px solid var(--custom-amber);
  border-bottom: 1px solid var(--custom-amber);
}

.mat-mdc-option {
  color: white;
}

::ng-deep .mat-mdc-option:hover {
  background-color: var(--custom-amber) !important;
  color: black !important;
}

.mat-mdc-select {
  color: var(--custom-amber);
}

#search-form .mat-mdc-select-arrow {
  color: var(--custom-amber);
}

#search-form .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: var(--custom-amber);
}

button {
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.button-container button[disabled] {
  opacity: 1;
  background-color: #683ab76e;
}
.button-icon-disabled{
  color:#202020 !important;
}
.button-icon-enabled{
  color:#ffffff !important;
}

@media only screen and (max-width: 601px) {
  form {
    width: 100%;
  }
}
