<button mat-mini-fab color="accent" class="float-search-button" (click)="formSearchFocus()">
  <mat-icon>search</mat-icon>
</button>
<section>
  <app-search-cover></app-search-cover>
</section>

<section class="search-container-section">
  <div class="title">
    <h1>
      Use the search bar to find by title, type, and year in our huge database.
    </h1>
    <h4 tabindex="0">Powered by <img src="assets/images/omdb_api.png" alt="omdb_api logo"> <img
        src="assets/images/imdb2.png" alt="imdb logo"></h4>
    <h3>* First request might take up to 50 seconds. Please be patient.</h3>
  </div>

  <div class="search-container">
    <app-carousel (sendItemCarousel)="openMediaItem($event)" [collection]="featuredMedia"></app-carousel>
    <div class="filter-container" #myinput>
      <app-search-bar (searchSubmitted)="onSubmit($event)"></app-search-bar>
        <app-loading-spinner [visible]="searchState.searchOnProcess"></app-loading-spinner>
    </div>
  </div>
</section>

<section class="table-section" *ngIf="searchState.collection.length>0">
  <h1>This is what we have found...</h1>
  <span tabindex="0" id="tableFocus"></span>
  <app-movie-results-table [displayedColumns]="displayedColumns" [collection]="searchState.collection" [collectionSize]="searchState.collectionSize"
    [currentPage]="searchState.currentPage" [pageSize]="searchState.pageSize" (pageChanged)="loadPage($event)"
    (detailsOpened)="openMediaItem($event)" (favoriteAdded)="addToFavorites($event)"></app-movie-results-table>
</section>