<div class="title">
  <h1>
    <span class="center-content">
      Find movies, series or videogames 
      <mat-icon>search</mat-icon>
    </span>
  </h1> 
</div>
<div class="filter-container">
 
<app-search-bar [types] = "types"(onSubmitEvent) = "onSubmit($event)"></app-search-bar>

</div>
<div class="table" *ngIf="results.length>0">
  <app-movie-results-table  [results]="results" [columns]="columns" (addItem)="addToFavories($event)"></app-movie-results-table>
</div>

<div class="table" *ngIf="results.length == 0">
  <app-search-cover></app-search-cover>
</div>
