table{

    border: 1px solid #3f51b55b; 
}
th, td{
    text-align: center;
    
}
td{
    font-size: 20px;
    color:#3F51B5;
    border-bottom: 1px solid  #3f51b55b;
    
}
th{
    font-size:25px;
    background-color:  #3F51B5 !important;
    color: white;
    font-style: italic;
    border-bottom: 1px solid  #3f51b55b;
    margin-bottom: 10px !important;
    
}

mat-icon{
    color: #ff4081;
}
img{
    width: 150px;
    height: 203px;
}




@media only screen and (max-width: 601px){
    img{
        width: 35px;
        height: 61px;
    }
    td{
        font-size: 10px;
        padding: 0;
    }
    th{
        font-size:13px;
    }
    .favorite-button-container{
        padding:-10px;
        
    }
}

