 table{
    max-width: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
}
td{
    font-size: 20px;
    color:#ffffff;
    background-color: #000000;
    font-family: 'Glegoo';
    text-align: center;
}
td img{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
th{
    font-size:25px;
    font-family: 'Glegoo';
    color: #FDFF00;
    text-align: center;
    height: max-content;
}
mat-icon{
    color: #FDFF00;
}
img{
    width: 150px;
    height: 203px;
    cursor: pointer;
} 
.poster-head{
    visibility: hidden;
}
.title-cell{
    width: 300px;
    overflow-wrap: break-word;
    word-break: break-all;
}



@media only screen and (max-width: 601px){
    img{
        width: 35px;
        height: 61px;
    }
    td{
        font-size: 10px;
        padding: 0;
    }
    th{
        font-size:13px;
    }
    .favorite-button-container{
        padding:-10px;
        
    }
}

