<div class="favorites-container">
  <mat-card *ngFor="let item of items; let i = index" class="favorite-card" >
<!--Poster Container-->
    <mat-card-content class="img-container"  matTooltip="{{item.Title}}" matTooltipPosition="above">
      <div class="img-container2" [style.background-image]="'url(' + item.Poster + ')'" (mouseenter)="onMouseEnter(i)" (mouseleave)="onMouseLeave(i)">
        <ng-container *ngIf="areButtonsVisible(i)">
           <!--Delete button-->
        <button mat-mini-fab color="warn" aria-label="delete item"  (click)="sendItemId(item._id)">
          <mat-icon matTooltip="Delete" matTooltipPosition="below">delete</mat-icon>
        </button>
        <!--Description button-->
        <button mat-mini-fab color="primary" (click)="toggleMode(i)" [value]="toggleModes[i] === 'view' ? 'edition' : 'view'">
          <mat-icon> {{ toggleModes[i] === 'view' ? 'rate_review' : 'close' }}</mat-icon>
        </button>
        </ng-container>
       
      </div>
    </mat-card-content>

<!--Info & buttons Container-->
    <!--Description container-->
    <mat-card-content class="description-container"  matTooltip="{{item.description}}">
      <ng-container *ngIf="item.description; else noDescription">
        <p class="description-text">"{{item.description}}"</p>
      </ng-container>
      <ng-template #noDescription>
        <p class="noDescription-text">No description yet</p>
      </ng-template>
    </mat-card-content>

    <mat-card-content class="info">
      <mat-card-subtitle [ngClass]="item.Type">
        <div class="chip">
          {{ item.Type | uppercase}}
        </div>
      </mat-card-subtitle>
      <mat-card-title>{{ item.Year }}</mat-card-title>

      <!--Edition Container-->
      <mat-card-content *ngIf="toggleModes[i] === 'edition'" class="edition" >
           <button mat-icon-button  aria-label="Add review"
          (click)="addDescription(item, i)">
          <mat-icon>add</mat-icon>
        </button>
          <textarea [value]="descriptions[i]" (input)="onValueChange($event, i)"  maxlength="200" placeholder="Add your review" id="textTarea"></textarea>
      </mat-card-content>

      <!--Description button-->
      <!-- <mat-card-actions class="buttons">
        <button mat-mini-fab color="primary" (click)="toggleMode(i)" [value]="toggleModes[i] === 'view' ? 'edition' : 'view'">
          <mat-icon> {{ toggleModes[i] === 'view' ? 'rate_review' : 'close' }}</mat-icon>
        </button>
      </mat-card-actions> -->

      
    </mat-card-content>
  


  </mat-card>
</div>