<!-- <div class="favorites-container"> -->
  <mat-card  class="favorite-card" >
<!--Poster Container-->
    <mat-card-content class="img-container"  matTooltip="{{item.Title}}" matTooltipPosition="above">
      <div class="img-container2" [style.background-image]="'url(' + item.Poster + ')'" 
      (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="openItem(item)">
        <ng-container *ngIf="areButtonsVisible()">
           <!--Delete button-->
        <button mat-mini-fab color="warn" aria-label="delete item"  (click)="sendItemId(item._id, $event)">
          <mat-icon matTooltip="Delete" matTooltipPosition="below">delete</mat-icon>
        </button>
        <!--Description button-->
        <button mat-mini-fab color="primary" (click)="toggleMode( $event)" [value]="mode === 'view' ? 'edition' : 'view'">
          <mat-icon> {{ mode === 'view' ? 'rate_review' : 'close' }}</mat-icon>
        </button>
        </ng-container>
       
      </div>
    </mat-card-content>

<!--Info & buttons Container-->
    <!--Description container-->
    <mat-card-content class="chip-container"  >
      
      <mat-card-subtitle [ngClass]="item.Type">
        <div class="chip">
          {{ item.Type | uppercase}}
        </div>
      </mat-card-subtitle>
      
    </mat-card-content>

    <mat-card-content class="info" >
      <mat-card-title>{{ item.Year }}</mat-card-title>
      <ng-container *ngIf="item.description; else noDescription">
      <button type="button" class="btn btn-warning btn-sm " ngbPopover="{{item.description}}"
        triggers="mouseenter:mouseleave" >
        Notes
      </button>
      </ng-container>
      <ng-template #noDescription>
       
      </ng-template>
     
      
    
      <!--Edition Container-->
      <mat-card-content *ngIf="mode === 'edition'" class="edition">
        <button mat-mini-fab  aria-label="Add review" (click)="addDescription(item)">
          <mat-icon>add</mat-icon>
        </button>
        <textarea [value]="description" (input)="onValueChange($event)" maxlength="200" placeholder="Add your own review"
          id="textTarea"></textarea>
      </mat-card-content>
    
      <!--Description button-->
    
    
    
    </mat-card-content>
  
  </mat-card>
<!-- </div> -->