<mat-card class="favorite-card">
  <mat-card-content class="img-container" matTooltip="{{item.title}}" matTooltipPosition="above">
    <div class="img-container2" [style.background-image]="'url(' + backgroundUrl + ')'" (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()" (click)="openitemToOpen(item)" (keydown.enter)="openitemToOpen(item)"
      (keydown.space)="openitemToOpen(item)" tabindex="0" role="button">
        <img [src]="item.poster" [alt]="item.poster" (error)="setDefaultBackground()" style="display:none" />
      <ng-container *ngIf="areButtonsVisible()">
        <button mat-mini-fab color="warn" aria-label="delete item" class='delete-button'
          (click)="onItemToDelete($event)">
          <mat-icon matTooltip="Delete" matTooltipPosition="below">delete</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class='review-button' (click)="toggleMode( $event)"
          [value]="mode === 'view' ? 'edition' : 'view'">
          <mat-icon> {{ mode === 'view' ? 'rate_review' : 'close' }}</mat-icon>
        </button>
      </ng-container>
    </div>
  </mat-card-content>

  <mat-card-content class="chip-container">
    <mat-card-subtitle [ngClass]="item.type">
      <div class="chip">
        {{ item.type | uppercase}}
      </div>
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-content class="info">
    <mat-card-title>{{ item.year }}</mat-card-title>
    <ng-container *ngIf="item.description; else noDescription">
      <button type="button" class="btn btn-warning btn-sm " ngbPopover="{{item.description}}"
        triggers="mouseenter:mouseleave">
        Notes
      </button>
    </ng-container>
    <ng-template #noDescription>
    </ng-template>

    <mat-card-content *ngIf="mode === 'edition'" class="edition">
      <div class="edition-buttons">
        <button mat-mini-fab aria-label="Add review" (click)="onDescriptionToAdd()">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="item.description" mat-mini-fab aria-label="Add review" (click)="onDescriptionToDelete()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
 
      <textarea [value]="item.description ? item.description : inputDescription" (input)="onValueChange($event)"
        maxlength="200" placeholder="Add your own review" id="textTarea"></textarea>
    </mat-card-content>
  </mat-card-content>

</mat-card>