.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: white;
  padding-top: 20px;
}

.favorite-card {
  max-width: 117px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.247);
  background-color: #000000;
  margin: 20px;
}

.img-container {
  padding: 0 !important;
}

.img-container2 {
  width: 115px;
  height: 165px;
  background-color: #0a0505;
  border-radius: 10px 10px 0 0;
  background-size: 100%;
  background-position: center;
  transition: background-size 1s ease, background-position 1s ease;
  display: flex;
  justify-content: space-between;
}

.img-container2:hover {
  background-size: 120%;
  background-position: center;
  cursor: pointer;
}

.img-container2 button {
  margin: 10px 10px 0 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 2;
}

.chip {
  width: 100%;
  border-radius: 30px;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow:
    1px 1px 0.5px #000,
    -1px 1px 0.5px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.movie .chip {
  background-color: rgb(255, 0, 0);
}

.series .chip {
  background-color: rgb(255, 255, 0);
}

.game .chip {
  background-color: rgb(0, 128, 0);
}

mat-card-title {
  font-family: 'Glegoo';
  font-size: 14px;
  color: #ffffff;
}

.chip-container {
  border-radius: 30px;
  padding: 2px !important;
  margin-top: -15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: help;
  margin-top: 10px;
  padding: 3px;
}

.description-text {
  font-style: italic;
  color: black;
  padding: 1px;
}

.noDescription-text {
  color: rgba(0, 0, 0, 0.432);
  font-style: normal;

}

mat-card-actions {
  display: flex;
  justify-content: center;
}

.edition {
  position: absolute;
  bottom: 34px;
  width: 100%;
  z-index: 1;
  background-color: rgba(240, 248, 255, 0);
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-name: edition;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  margin-left: -16px;
  border-radius: 10px;
}

.edition button {
  margin-left: auto;
  margin-right: auto;
}

@keyframes edition {
  0% {
    bottom: 0%;
    height: 100px;
  }

  100% {
    bottom: 0%;
    height: 160px;
    visibility: visible;
  }
}

.edition button {
  color: white;
  background-color: rgba(0, 0, 0, 0.637);
}

textarea {
  width: 115px;
  border: 1px solid #ff478700;
  border-radius: 10px 10px 0 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.267);
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  backdrop-filter: blur(2px) grayscale(100%);
  text-align: center;
}

textarea::placeholder {
  color: rgb(255, 255, 255);
  font-weight: 600;

}

.info {
  background-color: #000000;
  height: 40px;
  border-radius: 10px;
}

.btn {
  background-color: #000000;
  color: #f5cf3d;
}