<app-navbar></app-navbar>
<h1>Search your Movie or Serie</h1>

<form>

    <label>
      Title:
      <input type="text" name="title" [(ngModel)]="title">
    </label>
  
    <label>
      Type:
      <select name="type" [(ngModel)]="type">
        <option value="movie">Movie</option>
        <option value="series">Serie</option>  
        <option value="episode">Episode</option>    
      </select>
    </label>
  
    <label>
      Year: 
      <input type="text" name="year" [(ngModel)]="year">
    </label>

    <button type="submit" (click)="onSubmit()">Submit</button>
  
  </form>

<app-movie-results-table [results] = "results"></app-movie-results-table>