.table {
    margin: 20px auto 20px auto;
    width: 80%;
}
form {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding: 20px;
}
mat-hint {
  color: gray;
}
h1 {
  text-align: center;
  padding: 20px;
}
mat-form-field {
  margin: 2px;
}
button {
  margin: 10px;
}
.search-cover{
text-align: center;
}
h2{
  color: #3F51B5;
  font-weight: 300;
}
.title{
  color: #3F51B5;
  font-weight: 300;
}
.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

