form{
    margin: 0 auto;
    width: 90%;
}
mat-hint{
    color: gray;
}
h1{
    text-align: center;
    padding: 20px;
}
mat-form-field{
    margin: 2px;
}
.big-button {
    width: 150px;
    height: auto;
    font-size: 18px;
    padding: 12px;  
    margin: 2px;
  }
  .table{
    padding: 30px;
    width: 90%;
  }
