<div class="head-icon">
    <h1>Join us!</h1>
  </div>
  
  <form id="register-form" [formGroup]="form" (ngSubmit)="onSubmit()">
  
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
      <button mat-icon-button matSuffix type="button">
        <mat-icon>person</mat-icon>
      </button>
      <mat-error *ngIf="form.get('userName')?.hasError('required')">
        Mandatory field
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <button mat-icon-button matSuffix type="button">
        <mat-icon>mail</mat-icon>
      </button>
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Incorrect email format
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" 
              [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'" 
              [attr.aria-pressed]="!hidePassword" type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint>Min 6 char incl. letters, numbers and special characters (!$^&=..).</mat-hint>
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('pattern')">
        Min 6 char incl. letters, numbers and special characters (!$^&=..).
      </mat-error>
    </mat-form-field>
  
    <div class="button-container">
      <button mat-raised-button class="button" color="primary" type="submit" [disabled]="form.invalid">
        <span class="register-text">Register</span>
      </button>
      <button mat-raised-button class="button" color="accent" type="button" (click)="onClear()">
        <mat-icon>clear</mat-icon>
        Clear
      </button>
    </div>
  
  </form>
  