.sorting-filter-container{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
    gap: 20px;
    border: 1px solid white;
}
.sorting-container{
    display: flex;
    flex-direction: row;
    width: 200px;
}
.sorting-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sorting-item mat-icon{
    cursor: pointer;
    color: #f5cf3d;
}
.sortByName{
    cursor: pointer;
    color: #ffffff;
}
input{
    background-color:transparent;
    border-left: #000000;
    border: 1px solid #f5d03d7a;
    border-radius: 10px;
    color: white;
    font-family: 'Glegoo';
  }
  /* ::ng-deep input[type="text"]:focus {
    border: 1px solid #f5cf3d !important;
  } */