<mat-toolbar color="primary">
    <span>ScreenPulse</span>
    <mat-icon aria-hidden="false" aria-label="movi icon" fontIcon="movie"></mat-icon>
    <span class="spacer"></span>
    <a routerLink="/register" mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="movi icon" fontIcon="login"></mat-icon>
    </a>
    <a routerLink="/login" mat-icon-button>
      <mat-icon aria-hidden="false" aria-label="movi icon" fontIcon="account_circle"></mat-icon>
    </a>
    <a mat-raised-button routerLink="">Search</a>
    <a mat-raised-button routerLink="/favorites">Favorites</a>
  </mat-toolbar>
