<div class="carousel-container">
	<ngb-carousel #carousel *ngIf="collection" paused="false" [interval]="4000" [showNavigationIndicators]="true" [showNavigationArrows]="true">
	  <ng-template ngbSlide *ngFor="let collectionIndex of getIndexes();">
		<div class="slide-group">
		  <div class="picsum-img-wrapper">
			<img [src]="collection[collectionIndex ].Poster" alt="Random slide" (click)="openItem(collection[collectionIndex ])"/>
		  </div>
		  <div class="picsum-img-wrapper">
			<img [src]="collection[collectionIndex  + 1].Poster" alt="Random slide" (click)="openItem(collection[collectionIndex +1])"/>
		  </div>
		  <div class="picsum-img-wrapper">
			<img [src]="collection[collectionIndex  + 2].Poster" alt="Random slide" (click)="openItem(collection[collectionIndex +2])"/>
		  </div>
		  <div class="picsum-img-wrapper">
			<img [src]="collection[collectionIndex  + 3].Poster" alt="Random slide" (click)="openItem(collection[collectionIndex +3])"/>
		  </div>
		  
		</div>
		
	  </ng-template>
	</ngb-carousel>
  </div>
  
  
  

