<div class="carousel-container">
	<ngb-carousel 
	  *ngIf="collection?.length"
	  [interval]="4000"
	  [showNavigationArrows]="showNavigationArrows"
	  [showNavigationIndicators]="showNavigationIndicators"
	>
	  <ng-template ngbSlide *ngFor="let group of groupedItems">
		<div class="slide-group">
		  <div class="picsum-img-wrapper" *ngFor="let item of group">
			<img 
			  [src]="item.poster" 
			  [alt]="item.title"
			  (click)="onOpenItem(item)"
			/>
		  </div>
		</div>
	  </ng-template>
	</ngb-carousel>
  </div>