.site-content {
    min-height: 100vh;
    z-index: 1;
    padding-top: 80px;
    /* background-color: black;
    color: white; */
}
app-navbar{
    width: 100%;
    position: fixed;
    z-index: 2;
}