<div class="search-cover">

 
  
  <div class="cover">
     
    <div class="info-container">
      <h1>
        Find detailed information about your favorite <span class="change-color">Movies</span>, <span class="change-color">TV shows</span> or <span class="change-color">Videogames</span>
      </h1>
      <div class="flex-container">
        <div class="info-container-type">
          <div class="icon-container">
             <mat-icon>movie</mat-icon>
             <span>Movies</span>
          </div>
          <p>Explore the latest blockbuster hits 
            and critically acclaimed films in our extensive movie collection. 
            From pulse-pounding action to heartwarming dramas, discover the newest releases 
            and timeless classics all in one place.
            <span class="extra-detail">From pulse-pounding action to heartwarming dramas, discover the newest releases 
              and timeless classics all in one place.</span></p>
        </div>
        
  
        <div class="info-container-type">
          <div class="icon-container">
             <mat-icon>theaters</mat-icon>
             <span>Series</span>
          </div>
          <p>Dive into the world of television with our curated selection 
            of the most-watched series.<span class="extra-detail">Whether you're a fan of gripping dramas, 
            side-splitting comedies, or thrilling mysteries, immerse yourself in captivating 
            storylines and unforgettable characters.</span></p>
        </div>
        
        <div class="info-container-type">
          <div class="icon-container">
            <mat-icon>videogame_asset</mat-icon>
            <span>Videogames</span>
          </div>
          <p>Embark on epic adventures and immersive gaming experiences with our handpicked 
            collection of the most popular video games.<span class="extra-detail">From adrenaline-fueled shooters to immersive 
            role-playing games, discover the latest releases and timeless classics that have
             captured the hearts of gamers worldwide.</span> </p>
        </div>
      </div>
      
      
    </div>
    </div>
  
</div>