.footer{
    height: 40px;
    background-color:#000000 ;
    width: 100%;
    text-align: center;
    color: #F5CF3D;
    display: flex;
    justify-content: center;
}
.footer div {
    display: flex; 
    align-items: center;  
  }
.copyright{
    font-size: 20px;
    font-weight:500;
    margin-right: 8px;
}
