<form id="search-form" (submit)="onSubmit()">

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Title</mat-label>
      <input matInput type="text" name="title"  [(ngModel)]="title"  #titleInput="ngModel" #searchFormFocus>
    </mat-form-field>
  
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Year (optional)</mat-label>
      <input matInput placeholder="Blank for all years" type="text" name="year" [(ngModel)]="year" pattern="[0-9]{4}">
      <mat-hint>*4 digit number</mat-hint>
    </mat-form-field>
  
    
    <div class="buttons-container">
      <button mat-raised-button class="big-button" color="primary" type="submit" >
      <mat-icon>send</mat-icon>
      Find
    </button>
  
    <button mat-raised-button class="big-button" color="accent" (click)="onClear()">
      <mat-icon>clear</mat-icon>
      Clear
    </button>
    </div>

  </form>
