/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: black;
}

@import '~ngx-toastr/toastr';
@font-face{
    font-family: Glegoo;
    src: url(./assets/fonts/Glegoo-Regular.ttf) format('truetype');
}

