.card-container {
    margin: 20px auto 20px auto;
    width: 90%;
}

h1 {
    font-family: 'Glegoo';
    color: #f5cf3d; 
    text-align: center;
    padding: 20px;

}
h3{
    color: #ffffffc2 ;
    font-family: 'Glegoo';
}
app-search-bar {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 20px;
}
mat-hint {
    color: gray;
}

.title {

    font-weight: 300;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #f5d03d6e 50%, #000000 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #f5d03d6e 50%, #000000 100%);
    background: linear-gradient(to bottom, #000000 0%, #f5d03d6e 50%, #000000 100%);
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 30px;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-favorites-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.all-favorites-container h2 {
    font-family: 'Glegoo';
    color: #f5cf3d;
}

.all-favorites-card {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    background-color: #3f51b500;
    padding-bottom: 5px;
    border-radius: 10px;
    white-space: nowrap;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 35%;
    filter: brightness(0.9);
    border-radius: 50%;
}
/* Pagination */
ngb-pagination ::ng-deep a {
    color: #f5cf3d !important;
    background-color: red;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: #f5cf3d;
    background-color: rgba(177, 24, 24, 0);
    color: #f5cf3d !important;
    z-index: 1 !important;
}

ngb-pagination ::ng-deep .page-item.active .page-link:focus,
.page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
    color: #f5cf3d !important;
    z-index: 1;
}

ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
    color: #f5cf3d !important;
    z-index: 1;
}

ngb-pagination ::ng-deep ul>li:not(.active)>a {
    background-color: rgba(255, 0, 0, 0);
    color: #f5cf3d !important;
}

/*Favorites movies*/
.type-favorites-card{
    display:flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 20px;
}
.type-favorites-container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.type-favorites-container h2 {
    font-family: 'Glegoo';
    color: #f5cf3d;
}
/* Scroll bar */
  .all-favorites-card::-webkit-scrollbar, .type-favorites-card::-webkit-scrollbar {
    width: 5px;
  }
  .all-favorites-card::-webkit-scrollbar-track, .type-favorites-card::-webkit-scrollbar-track {
    border-radius: 10px; 
  }
  .all-favorites-card::-webkit-scrollbar-thumb, .type-favorites-card::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 10px;
    border: 1px solid #f5cf3d;
  }
  .all-favorites-card::-webkit-scrollbar-thumb:hover, .type-favorites-card::-webkit-scrollbar-thumb:hover {
    background: #f5cf3d; 
  }
  /*searching*/
  input{
    background-color:transparent;
    border-left: #000000;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Glegoo';
  }
  input[type=text]:focus {
    border: 1px solid #f5cf3d;
  }
/* Sorting */
.sorting-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sorting-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sorting-item mat-icon{
    cursor: pointer;
    color: #f5cf3d;
}
.sortByName{
    cursor: pointer;
    color: #ffffff;
}

/*Media queries*/
@media only screen and (max-width: 601px) {
    .search-bar-container {

        padding-left: 10%;
        padding-right: 10%;
    }
    input{
        width: 50%;
    }

    .all-favorites-card {
        flex-wrap: nowrap;
        overflow-x: scroll;

    }
    .all-favorites-card::-webkit-scrollbar, .type-favorites-card::-webkit-scrollbar {
        display: none;
      }
    
}
@media only screen and (max-width: 1024px) {
    .img-container img {
        width: 80%;
    }
}