<div class="title">
  <h1>
    <span class="center-content">
      Favorites
      <mat-icon>favorites</mat-icon>
    </span>
  </h1>
</div>

<app-search-bar [types]="types" (onSubmitEvent)="onSubmit($event)"></app-search-bar>

<ng-component *ngIf="getAllfavorites() == 0; else Arefavorites">
  <div>
    <p>No favorites yet. Please add some.</p>
  </div>
</ng-component>
<ng-template #Arefavorites class="card-container">
  <app-favorites-card [items]="favorites" (itemIdEvent)="deleteFavorite($event)"
    (itemUpdatedEvent)="updateFavorite($event)"></app-favorites-card>
</ng-template>