h1 {
    font-family: 'Glegoo';
    color: #f5cf3d;
    text-align: center;
    padding: 20px;
}

h3 {
    color: #ffffffc2;
    font-family: 'Glegoo';
}

mat-hint {
    color: gray;
}

.title {
    font-weight: 300;
    width: 45%;
    margin: 10px auto 55px auto;
    background: #000000;
    border: 1px solid #f5cf3d;
    border-radius: 30px;
}

.title h1 {
    text-align: center;
    padding: 2px;
    margin: 0;
}

.user-name {
    font-weight: bold;
    font-style: italic;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.all-favorites-container {
    min-width: 50%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.all-favorites-container h2 {
    font-family: 'Glegoo';
    color: #f5cf3d;
    border-bottom: 1px solid #f5d03d7a;
}

.all-favorites-card {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-shrink: inherit;
    gap: 70px;
    min-height: 250px;
    margin-bottom: 40px;

}


.paginator-container {
    width: 40%;
}


.back-top-button {
    bottom: 10px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 10px;
    opacity: 0 !important;

}


@media only screen and (max-width: 768px) {
    .search-bar-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    input {
        width: 50%;
    }

    .all-favorites-container {
        min-width: 50%;
        max-width: 90%;
    }

    .all-favorites-card {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .paginator-container {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (min-width: 1650px) {
    .all-favorites-container {
        min-width: 50%;
        max-width: 50%;

    }
}