<mat-toolbar color="primary">
  <div class="navbar-container">
    <span class="screen">ScreenPulse</span>
    <mat-icon aria-hidden="true" class="icon">tv</mat-icon>
    <span class="spacer"></span>

    <ng-container *ngIf="userData$ | async as data">
      <!-- logged out -->
      <ng-container *ngIf="!data.isLoggedIn; else loggedInBlock">
        <a routerLink="/register" mat-icon-button class="register-container">
          <div class="login-container">
            <mat-icon fontIcon="person_add_alt"></mat-icon>
            <span class="join">Join us!</span>
          </div>
        </a>
        <a routerLink="/login" mat-icon-button class="login-container">
          <mat-icon fontIcon="login"></mat-icon>
        </a>
      </ng-container>

      <!-- logged in -->
      <ng-template #loggedInBlock>
        <div class="loggedin-navbar-container">
          <span class="logged">
            Welcome <span class="user-mail">{{ data.email }}</span>
          </span>
          <button mat-icon-button (click)="logOut()" class="logout-container">
            <mat-icon fontIcon="logout"></mat-icon>
          </button>
        </div>
      </ng-template>

      <!-- static links -->
      <div class="button-links-container">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Search</a>
        <a routerLink="/favorites" routerLinkActive="active">Favorites</a>
      </div>

      <button mat-icon-button class="toogle-menu-button" (click)="toggleMenu()">
        <mat-icon>{{ expanded ? 'close' : 'menu' }}</mat-icon>
      </button>
    </ng-container>
  </div>

  <!-- mobile expanded menu -->
  <div class="expanded-menu-container" *ngIf="expanded">
    <ng-container *ngIf="userData$ | async as data">
      <ng-container *ngIf="data.isLoggedIn; else mobileLoggedOut">
        <div class="loggedin-expanded-menu-container">
          <span class="logged">Welcome, <span class="user-mail">{{ data.email }}</span></span>
          <button mat-icon-button (click)="logOut()" class="logout-container">
            <mat-icon fontIcon="logout"></mat-icon>
          </button>
        </div>
      </ng-container>

      <mat-list>
        <mat-list-item (click)="toggleMenu()"><a routerLink="">Search</a></mat-list-item>
        <mat-list-item (click)="toggleMenu()"><a routerLink="/favorites">Favorites</a></mat-list-item>
      </mat-list>

      <ng-template #mobileLoggedOut>
        <mat-list>
          <mat-list-item (click)="toggleMenu()">
            <a routerLink="/register"><mat-icon fontIcon="person_add_alt"></mat-icon></a>
          </mat-list-item>
          <mat-list-item (click)="toggleMenu()">
            <a routerLink="/login"><mat-icon fontIcon="login"></mat-icon></a>
          </mat-list-item>
        </mat-list>
      </ng-template>
    </ng-container>
  </div>
</mat-toolbar>
